<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<textarea cols="50" rows="50">
{% for t in tasks %}
{{ t.updated|date:"d.m.Y H:i:s" }}: {% if t.status == t.STATUS_ERR %}{{ t.err_msg }}{% elif t.status == t.STATUS_OK %}OK{% endif %}
{% endfor %}

</textarea>
<textarea cols="50" rows="50">
    {% for t in tasks %}
    {{ t.to_template }}
    {% endfor %}
</textarea>

</body>
</html>